[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.10.15"
chardet = "==3.0.4"
idna = "==2.7"
requests = {extras = ["socks"],version = "*"}
selenium = "==3.141.0"
urllib3 = "==1.24.2"
ipython = "*"
jsonlines = "*"
python-slugify = "*"
progressbar = "*"
pelican = "*"
markdown = "*"
pexpect = "*"
bs4 = "*"
user-agent = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.6"
